* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #adb5bd;
}
.button-creator {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
#controls {
  width: 250px;
  font-family: sans-serif;
  font-size: 0.875rem;
  background: #e9ecef;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
input,
select {
  display: block;
  margin-bottom: 0.5rem;
}
.result {
  flex: 1;
  padding-left: 20px;
}
.css {
  font-family: sans-serif;
  color: #333;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.css span {
  display: block;
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .button-creator {
    justify-content: center;
  }
  .result {
    max-width: 300px;
    margin-top: 20px;
    margin-left: 10px;
  }
}
